.container{
    height: calc(100vh - 100px);
    background-color: #222;
    display: flex;
}

.item{
    position: relative;
    display: flex;
    flex: 1;
}

.item:last-child{
    flex: 2;
    padding: 50px;
    justify-content: space-between;
}

.card{
    padding: 0 40px;
}

.title{
    font-size: 24px;
    color: #ebab23;

}

.text{
    padding: 20px 0;
    color: lightgray;
    font-size: 15px;
}

.motto{
    font-size: 30px;
    color: rgb(211, 211, 211);
}